* 
{
  padding:0;
  margin:0;
}

body 
{
  background-image: url("../images/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header 
{
  background-color:transparent;
  backdrop-filter: blur(0.75px);
  height:80px;
  width:100%;
  position:fixed;    
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

h1 
{
  color: #FDD0A2;
  position:absolute;
  left:120px;
  top:0;
  line-height: 80px;
  width:210px;
}

header ul 
{
  position:absolute;
  right:5vw;
  top:0;
  line-height:80px;
}

header li 
{
  display:inline;
  margin-right:4vw;    
}

header a 
{
  color:#FDD0A2;
  text-decoration: none;
}

header a:hover 
{
  text-decoration: underline;
}

.watermark 
{
  height:92vh;
  display:flex;
  align-items: center;
  background-color: transparent;
  justify-content:center;
  flex-grow: 1;
}

.watermark h2 
{
  font-size:60px;
  margin-top:60px;
}

.floral-text
{
  font-family: MyCustomFont;
  letter-spacing: 4px;
}

@font-face 
{
  font-family: MyCustomFont;
  src: url("../Fonts/alata-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

footer 
{
  background-color: transparent;
  color:antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height:8vh; 
}

footer a
{
  color:#FDD0A2;
  text-decoration: none;
}

.menu 
{
  display:none;
}

main {
  padding-top: 80px;
}

@media screen and (max-width: 768px) 
{
header ul 
{
  display:none;
}

header h1 
{
  left:50%;
  transform: translateX(-50%);
}

.watermark h2 
{
  font-size:40px;
}

.menu 
{
  display:block;
  background-color: transparent;
  color:white;
  font-size: 35px;
  position:absolute;
  top:15px;
  left:20px;
  border:none;
  cursor: pointer;
}

nav.mobile-visible ul
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: rgba(35, 35, 35, 0.95);
  width: 160px;
  padding: 10px 0;
  line-height: 2.5;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

nav.mobile-visible li
{
  display: block;
  margin-right: 0;
}
}
