* 
{
  padding:0;
  margin:0;
}

body
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header 
{
  background-color:rgb(35, 35, 35);
  height:80px;
  width:100%;
  position:fixed;    
  z-index: 1;
}

h1 
{
  color:#FDD0A2;
  position:absolute;
  left:120px;
  top:0;
  line-height: 80px;
  width:210px;
}

header ul 
{
  position:absolute;
  right:5vw;
  top:0;
  line-height:80px;
}

header li 
{
  display:inline;
  margin-right:4vw;    
}

header a 
{
  color:#FDD0A2;
  text-decoration: none;
}

header a:hover 
{
  text-decoration: underline;
}

main
{
  flex-grow: 1;
  padding-top: 80px;
  background: linear-gradient(180deg,#DFD8D0 0%,rgb(207,204,201) 100%);
}

.floral-text
{
  font-family: MyCustomFont;
  letter-spacing: 4px;
}

@font-face 
{
  font-family: MyCustomFont;
  src: url("../Fonts/alata-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.picture-frame
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.picture-frame div
{
  width: 75%;
  margin: 60px;
  text-align: center;
}

.picture-frame img 
{
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.picture-frame img:hover
{
  transform: scale(1.2);
}

footer 
{
  background-color:rgb(35, 35, 35);
  color:rgb(230, 230, 230);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height:8vh;
}

footer a
{
  color:#FDD0A2;
  text-decoration: none;
}


.menu 
{
  display:none;
}

@media screen and (max-width: 768px) 
{
header ul 
{
  display:none;
}

header h1 
{
  left:50%;
  transform: translateX(-50%);
}

.picture-frame
{
  grid-template-columns: 1fr;
}

.picture-frame div
{
  width: 85%;
  margin: 30px;
}
}
